settings.json
cert.pem
key.pem
cmd/app/public/uploads/*
cmd/app/public/frontend/*
cmd/app/public/frontend
logs/*
shopping-lists-and-recipes
__debug_bin
postgres-data
.env
.vscode/
.vscode/*
##.dockerignore
##docker-compose.yml
##Dockerfile

