<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <p>Благодарим за регистрацию на сайте!</p>
    <p>Пожалуйста, для подтверждения электронной почты перейдите по <a href="{{ . }}">ссылке</a></p>
</body>

</html>